<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading"
            type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row" *ngIf="lastError">
      <div class="alert alert-danger col-12" role="alert">
        <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
        <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
        <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
      </div>
    </div>
    <div class="row d-none" *ngIf="items">
      <div class="col-12">
        <p [translate]="'StudyPrograms.AddCoursesHelp'" [translateParams]="items" ></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <ng-container>
          <ul style="margin-left: -24px" class="nav nav-tabs mb-1" id="myTab" role="tablist">
            <li class="nav-item" *ngIf="tableConfiguration">
              <a class="nav-link active" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="home" aria-selected="true" [translate]="'AddItems.SelectItems'" ></a>
            </li>
            <li class="nav-item" *ngIf="formName">
              <a class="nav-link" [ngClass]="{ 'disabled': !(selectComponent && selectComponent.advancedTable && selectComponent.advancedTable.selected && selectComponent.advancedTable.selected.length) }" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="profile" aria-selected="false" [translate]="'AddItems.EditAttributes'"></a>
            </li>
            <li class="nav-item" *ngIf="messages && messages.length > 0">
              <a class="nav-link"  id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="profile" aria-selected="false" [translate]="'AddItems.Messages'"></a>
            </li>
          </ul>
          <div class="tab-content border-0" id="myTabContent">
            <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="home-tab">
              <app-advanced-table-modal #selectComponent (filter)="onFilterChange($event)" [tableConfig]="tableConfiguration"></app-advanced-table-modal>
            </div>
            <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="profile-tab"
                 [ngClass]="{'invisible':(formName == null)}">
<!--              <advanced-form-edit #formComponent [formName]="formName" ></advanced-form-edit>-->
            </div>
            <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="profile-tab"
                 [ngClass]="{'invisible':(messages == null)}">
              <ul *ngIf="messages && messages.length>0" class="sis--list-group sis--list-group-header">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="sis--list-group-item_lg_column" [translate]="'AddItems.Messages'"></div>
                  </div>
                </li>
              </ul>
              <ul class="sis--list-group sis--list-group-body">
                <li *ngFor="let message of messages" class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">{{ message?.message }}</div>
                  </div>
                </li>
              </ul>
              <div *ngIf="messages && messages.length>0">
                <button [disabled]="loading" (click)="clearMessages()" type="button" class="btn btn-indigo mt-3">
                  {{'Clear' | translate}}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled || loading || !(selectComponent && selectComponent.advancedTable && selectComponent.advancedTable.selected && selectComponent.advancedTable.selected.length) " (click)="ok()"
            type="button" [ngClass]="okButtonClass">
      {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading"
            (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
