<div class="s--list-navbar d-none d-sm-block">

  <div id="collapse-header" [ngClass]="{'show':collapsed}" class="collapse multi-collapse">
    <form class="form-inline p-3 col">
      <div class="form-group col-7" [ngClass]= "{ 'col-12': !showMore }">
        <label class="pr-3" for="searchText" [translate]="'Tables.Search'"></label>
        <input (keydown)="onSearchKeyDown($event)" spellcheck="false" type="text" id="searchText" name="searchText"
          class="form-control col text-left" placeholder="{{ 'Tables.SearchPlaceholder' | translate }}" #searchText>
      </div>
      <div *ngIf="showMore" class="col-5 text-right text-secondary" id="heading3">
        <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
          type="button"  (click)="toggleView();">
          <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.More'"></span>
          <i class="ml-2 pt-1 fa fa-chevron-down"></i>
        </button>
      </div>
    </form>
  </div>

  <div id="collapse3" [ngClass]="{'show':!collapsed}"  class="collapse multi-collapse" aria-labelledby="heading3">
    <div class="row">
      <div class="col-sm-12">
        <div id="advanced-form">
          <ng-content select="advanced-search"></ng-content>
          <hr class="mt-0 mb-0" width="97%">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-inline pb-3 pt-3 pr-1 pl-1 col">

                <div class="form-group col-4">
                  <div class="d-flex flex-row w-100" *ngIf="allowSave">
                    <label class="pr-3 d-none" [translate]="'AdvancedSearch.SavedSearches'"></label>
                    <select *ngIf="userSearchList" class="custom-select text-secondary flex col-12" (change)="onSelectUserSearch($event)" [(ngModel)]="selectedList">
                      <option [ngValue]="null" [translate]="'AdvancedSearch.Choose'"></option>
                      <option  *ngFor="let item of userSearchList" [ngValue]="item">{{ item.name }}</option>
                    </select>
                    <select *ngIf="!userSearchList" class="custom-select flex col-6">
                      <option [value]="null" [translate]="'AdvancedSearch.Choose'"></option>
                    </select>
                  </div>
                </div>

                <div class="col-3 d-flex flex-row w-100">
                  <div class="btn-group" *ngIf="allowSave">
                    <button type="button" class="btn btn-sm btn-primary" (click)="saveSearch(templateToUse, ( (selectedList && selectedList.readOnly) ? true : false ) )" [translate]="'AdvancedSearch.SaveCurrentSearch'"></button>
                    <button type="button" dropdownToggle class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only" [translate]="'AdvancedSearch.ToggleDropdown'"></span>
                    </button>

                    <div class="dropdown-menu">
                      <a [ngClass]="{'disabled': selectedList && selectedList.readOnly}" class="dropdown-item" (click)="saveSearch(templateToUse, false)" [translate]="'AdvancedSearch.Save'" href="javascript:void(0)"></a>
                      <a class="dropdown-item" (click)="saveSearch(templateToUse)" [translate]="'AdvancedSearch.SaveAs'" href="javascript:void(0)"></a>
                      <div  class="dropdown-divider"></div>
                      <a [ngClass]="{'disabled': selectedList && selectedList.readOnly}" class="dropdown-item" (click)="deleteItemFromSavedSearchListByObject(selectedList)" [translate]="'AdvancedSearch.Delete'" href="javascript:void(0)"></a>
                    </div>
                  </div>
                </div>

                <div class="col-5 text-right text-secondary">
                  <button type="button" class="btn btn-light text-secondary pl-2 pr-2 mr-2" (click)="clear()">
                    <i class="fa fa-eraser"></i>
                  </button>
                  <button type="button" class="btn btn-success pl-4 pr-4 mr-2" (click)="advancedSearch($event);"
                    [translate]="'Tables.Search'"></button>
                  <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
                          type="button" (click)="toggleView();">
                    <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.Less'"></span>
                    <i class="ml-2 pt-1 fa fa-chevron-up"></i>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #templateToUse>
    <div class="modal-header">
      <h4 class="modal-title pull-left" [translate]="'AdvancedSearch.Modal.Title'"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef && modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
      <div>
        <p class="text-secondary text-left" [translate]="'AdvancedSearch.Modal.Help'"></p>
      </div>
      <form class="p-3 text-center" #newListForm="ngForm" >
        <div [ngVar]="{ name: ( selectedList?.name ? ( selectedList?.name + ' (1)'  ) : null ) }" #model="ngVar">
          <input [(ngModel)]="model.value.name" [required]="true"  id="newListName" name="newListName" type="text" class="form-control" placeholder="{{ 'AdvancedSearch.Modal.SaveNamePlaceholder' | translate }}"/>
          <div class="btn-group mt-4">
            <button [disabled]="newListForm.invalid" type="button" class="btn btn-primary" (click)="confirmModal(model.value.name)" [translate]="'AdvancedSearch.Modal.Accept'"></button>
            <button type="button" class="btn btn-gray-300 text-white" (click)="closeModal()" [translate]="'AdvancedSearch.Modal.Close'"></button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

</div>
